.BlogCard{
    margin:16px;
     padding:16px;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0 2px 5px #ccc;
    background-color: rgb(206, 223, 223);
    font-size: 24px;
  }
  .BlogCard > button{
    font-size: 24px;
  }
  .likeCount{
    font-weight: 600;
    font-size: 28px;
  }
  @media (min-width: 992px){
    .BlogCard{
       width: 45%; 
       display: inline-block;
    }
  }